/**{
	border: 1px solid red;
}*/

/*************** ESTRUTURA ***********/

	body{
		background: #f4f2ec url(../img/fundo.png) repeat-x;
		font: 12px "Lucinda Grande", "Lucinda Sans Unicode", Arial, sans-serif;
	}

	#conteiner{
		width: 1080px;
		margin: 0 auto;
	}

	/*********** PRINCIPAL ************/
		#conteudo{
			width: 710px;

			float: left;

			margin-bottom: 20px;
		}

		aside{
			width: 350px;

			float: right;
			padding-bottom: 30px;
			margin-bottom: 20px;

			background: #ebe7dd;
		}

	/*********** FOOTER ************/
		footer{
			clear: both;

			background: url(../img/fundo-rodape.png) no-repeat center top;

			padding: 20px 0 30px 0;
			margin-top: 20px; /*margin collapse: quando um elemento que recebe o clear: both; este perde qualquer espaçamento de margin com o iten predecessor*/
			text-align: center;
		}

/*************** FORMATAÇÃO ***********/

	#logo a{
		width: 248px;
		height: 21px;

		background: url(../img/logo.png);

		text-indent: -9999px;
		display: block;
		float: left;		
	}

	header{
		padding: 15px 0;
		height: 55px;
	}

	a:link, a:active, a:visited{
		color: #af670a;
		text-decoration: none;
	}

	a:hover{

		color: #227115;
	}

	nav ul{
		list-style: none;
		margin: 20px;
		float: right;
	}

	nav ul li{

		float: left;
	}

	nav ul li a:link{
		display: block;

		margin-right: 25px;
		padding-bottom: 3px;

		text-transform: uppercase;
	}

	nav ul li a:hover {

		border-bottom: 1px solid #535858;
	}

	h3{
		color: #227115;
		font-size: 1em;
		text-transform: uppercase;

		margin-bottom: 15px;
	}

	/*********** SEÇÕES ************/
		/* VISITA */
			section#visita{
				background: #cdb8b1;

				padding: 10px 27px 27px 27px;
				margin-top: 10px;
			}

			h4{
				color: #86521a;

				text-transform: uppercase;

				padding-bottom: 3px;
				margin-bottom: 0;
			}

		/*FORMULARIO*/

			input{
				height: 20px;
				width: 80px;

				background: #FFF;
				border: none;

				font-size: 1em;
			}

			input.campo{
				width: 40%;

				border: 1px solid #ada484;

				font-size: .9em;
			}

			input.botao{
				width:	100%;
				height: 40px;

				background: #b99271;
				color: white;

				font-size: 1.2em;
			}

			fieldset{
				border: none;
			}

		/*GALERIA DE FOTOS*/

			section#galeria{
				padding: 0 23px 0 23px;
			}

			section#galeria a{
				display: block;
				padding: 18px;
				margin: 10px 0 0 20px;

				float: left;

				background: url(../img/fundo-foto.png) no-repeat;
			}

			section#galeria img{
				margin-left: 2px;
				margin-top: 2px;

				width: 93px;
				height: 93px;
			}

		/* VIDEO */
			article#video{
				float: left;

				width: 310px;
				margin-left: 25px;
			}

		/* MAPA */
			article#mapa{
				float: left;

				width: 310px;
				margin-left: 37px;
			}

		/* EXPOSIÇÕES */
			article#exposicoes{
				float: left;

				width: 310px;
				margin: 15px 0 0 25px;
			}

		/* HISTÓRIA */
			article#historia{
				float: left;

				width: 310px;
				margin: 15px 0 0 37px;
			}

		/* FOOTER */
			footer ul{
				display: flex;
				justify-content: space-around;
				list-style: none;

				text-transform: uppercase;

				margin: 20px;
			}
