# git submodule add [-b <branch>] [--name <name>] <repository> [<path>]
# git submodule update --init --recursive

# Courses
## Harvard
[submodule "Courses/CS50x"]
	path = Courses/CS50x
	url = https://github.com/see7e/cs50x

## 42
[submodule "Courses/42/42_Walkthrugh"]
	path = Courses/42/42_Walkthrugh
	url = https://github.com/see7e/42_Walkthrugh

[submodule "Libft"]
	path = Courses/42/Common_Core/Libft
	url = https://github.com/see7e/42-libft

[submodule "get_next_line"]
	path = Courses/42/Common_Core/get_next_line
	url = https://github.com/see7e/get_next_line

[submodule "ft_printf"]
	path = Courses/42/Common_Core/ft_printf
	url = https://github.com/see7e/42-ft_printf

[submodule "Born2beroot"]
	path = Courses/42/Common_Core/Born2beroot
	url = https://github.com/see7e/42-Born2beroot

# Projects
[submodule "TranslateGPT"]
	path = Projects/TranslateGPT
	url = https://github.com/see7e/TranslateGPT

[submodule "42-codespace-builder"]
	path = Projects/42-codespace-builder
	url = https://github.com/see7e/42-codespace-builder

[submodule "aoc_2023"]
	path = Projects/aoc-2023
	url = https://github.com/see7e/aoc-2023.git
	branch = main

[submodule "slick"] # anthdm/slick
	path = Projects/slick
	url = https://github.com/see7e/slick.git
	branch = gote

[submodule "django_company-modules"]
	path = Projects/django_company-modules
	url = https://github.com/see7e/django_company-modules
	branch = main

[submodule ".Dotfiles"]
	path = Projects/.dotfiles
	url = https://github.com/see7e/.dotfiles
	branch = main
