# remove the desktop.ini files
*.ini

# Big Picture
## this will exclude som folders that have its own repositories
## to see the complete structure just follow the README instruc-
## tions.

# 42 Piscine and Common Core Repos
42/

# CS50x - Harvard's Course - Introduction to Computer Science - submodule
#cs50x/