/************ ESTRUTURA *************/

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Trabuchet MS", Helvatica, sans-serif;
	background: #fff url(_/bg.png);

	margin: 15px;
}

#conteiner{
	margin: 0 auto;
	min-width: 740px;
	max-width: 1180px;

	background: #ede9cc url(_/bg-container.png) top center repeat-y;
}

#topo{
	background: #dbcd87;
	height: 15.4em;
	min-height: 250px;

	position: relative;
}

	#area-logo{
		width: 100%;
		height: 250px;
		background: url(_/topo-imagem-principal.png) no-repeat;

		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	#area-menu{
		width: 450px;
		height: 250px;
		background: url(_/topo-imagem-lateral.png) no-repeat;

		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
	}

	#cont-menu{
		margin-left: 90px;
		margin-right: 15px;
		padding-top: 15px;
	}

/** barra de navegação vertical **/

	#menu{
		margin-top: 15px;
	}

/** AREA DE CONTEÚDOS **/

	#area-principal{
		width: 50%;
		padding: 15px 0;
		background: url(_/bg-area-principal.png) top left repeat-x;

		float: left;
	}


	#area-lateral{
		width: 50%;
		padding: 20px 0;
		background: url(_/bg-area-lateral.png) top left repeat-x;

		float: right;
	}

	.conteudo{
		margin: 0 auto;
		width: 90%;
	}

/** Rodape **/

	#rodape{
		clear: both;

		padding: 16px;

		background: #fff url(_/bg-rodape.png) top repeat-x;
		color: #7d7640;
	}

/************* FORMATAÇÕES *************/
 
	.clear{
		clear: both;
	}


	.logo a{
	 	position: absolute;
	 	top: 15px;
	 	left: 15px;
	 	z-index: 3;

	 	width: 151px;
	 	height: 66px;

	 	background: url(_/logo.png) no-repeat;

	 	text-indent: -3000px; /*puramente para asessibilidade*/
	}

	#menu-locais{
	 	border-bottom: 1px solid #b5ab56;
	 	border-top: 1px solid #b5ab56;

	 	padding-top: 5px;
	 	padding-bottom: 5px;

	 	font-size: .7em;
	 	color: #8b8448;
	}

	#menu-locais .locais{
		float: left;
		line-height: 2.1em;
	}

	a{
		text-decoration: none;
	}

	a.reserva{
		text-transform: uppercase;
		color: #fff5b0;

		background: #a29750;

		padding: 5px 10px;
		float: right;
	}

	ul{
		list-style: none;
	}

	ul#navegacao{
		float: left;
	}

	ul#navegacao a{
		padding: 5px;

		font-size: .8em;
		text-transform: uppercase;
		color: #6e672c;
		line-height: 30px;
	}

	ul#navegacao a:hover{
		background: #fdf6be;
	}

	.depoimento{
		width: 226px;
		height: 164px;

		float: right;
	}

	h2{
		color: #7d7640;
		font-size: 1.1em;

		padding: 5px 0;
	}

	p{
		font-size: 1em;
		margin-bottom: 10px;
	}


	#list-beneficios li{
		padding: 8px;
		height: 6em;

		border-bottom: 1px solid #f3efcb;
	}

	#list-beneficios li a img{
		width: 140px;
		margin-right: 8px;

		float: left;
	}


	#list-beneficios li a h3{
		font-size: 1em;
		color: #615b2d;

		padding: 5px 0;

		background: url(_/ornamento.png) no-repeat center right;
	}

	#list-beneficios li a p{
		font-size: .8em;
		color: #000;
	}


	#list-beneficios li:hover{
		background: #f6f3d6;
		cursor: pointer;
	}

/*
*{
	border: 1px solid red;
}
*/