attr==0.3.2
authentication==1.1.0
autopep8==2.0.2
beautifulsoup4==4.12.2
colorama==0.4.6
cryptography==41.0.3
cs50==9.2.5
style50==2.7.5
submit50==3.1.1
check50==3.3.7
check50-checkstyle==0.6
icdiff==2.0.6
inflect==7.0.0
intervaltree==3.1.0
jellyfish==1.0.0
Jinja2==3.1.2
jsbeautifier==1.14.9
lib50==3.0.7
line_profiler==4.0.3
numpy==1.25.2
pexpect==4.8.0
Pygments==2.15.1
python_magic==0.4.27
pytz==2023.3
PyYAML==6.0.1
Requests==2.31.0
setuptools==68.0.0
SQLAlchemy==2.0.19
sqlparse==0.4.4
termcolor==2.3.0
tqdm==4.66.1
tzlocal==5.0.1
websockets==11.0.3
Werkzeug==2.3.6
