/**********************
 * LAYOUTS*************/

body{
	font-family: "trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#conteiner{
	width: 85%;
	margin: 0 auto;			/*auto para centralizar nas laterais*/
	background: #fff;
	min-width: 820px;		/*define a largura mínima do bloco*/
	max-width: 1280px;		/*define a largura máxima do bloco*/
}

#marca{
	width: 100%;			/*720px -> 100%*/
	height: 200px;
	background: #225992 url(img/cabecalho2.jpg) no-repeat center;
	
	text-align: center;
	line-height: 200px;
	color: #fff;
}

#conteudo{
	width: 75%;			/*520px -> 74.28%*/
	float: right;
}

#conteudo-principal{
	width: 63%;			/*320px -> 64.00%*/
	float: left;
}

#conteudo-secundario{
	width: 34%;			/*180px -> 25.71%*/
	float: right;
	background: #d1d1d1;
}

#navegacao{
	width: 20%;			/*180px -> 26.00%*/
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #d1d1d1;
}

#navegacao ul{
	padding: 0;
	margin: 0;

	text-indent: 15px;
	list-style: none;
}

#navegacao li a{
	text-decoration: none;
}

#rodape{
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}


/********************************
* OUTRAS FORMATAÇÕES************/


#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 15px;
}

img.img-noticia{
	width: 94%;
	padding: 2%;

	max-width: 600px;
}