{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
            <div class="container-fluid py-5 text-center">

                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-start">Symbol</th>
                            <th class="text-end">Shares</th>
                            <th class="text-end">Price</th>
                            <th class="text-end">Transacted</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.symbol }}</td>
                            <td>{{ transaction.shares }}</td>
                            <td>{{ transaction.price | usd }}</td>
                            <td>{{ transaction.transaction_type }}</td>
                            <td>{{ transaction.timestamp }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
{% endblock %}