/**********************
 * LAYOUTS*************/

body{
	font-family: "trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

table{
	width: 600px;
	border-collapse: separate; /*separete-collapse*/
}

th, td{
	padding: 7px;
}

th{
	text-transform: uppercase; /*todas maiusculas*/
	border-top: 1px solid #999;
	border-bottom: 1px solid #111;
	text-align: left;
	font-size: 90%;
	letter-spacing: 0.05em;
}

tr.alternado{
	background-color: #efefef;
}

tr:hover{
	background-color: #c3e6e5;
}

.numero{
	text-align: right;
}