/*estrutura *********/
html {
	cursor: url(imagens/mata_mosquito.png) 30 30, auto;
}

body {
	background-image: url(imagens/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.painel{
	position: absolute;
		left: 0px;
		bottom: 0px;
	width: 190px;
	padding: 10px;
	border-top: solid 1px #fff;
	background-color: #fff;
	opacity: 0.7;
}

.vidas{
	float: left;
}

.cronometro{
	float: left;
	font-size: 20px;
	font-weight: bold;
}


/*elementos *********/
.mosquito1 {
	width: 50px;
	height: 50px;
}

.mosquito2 {
	width: 70px;
	height: 70px;
}

.mosquito3 {
	width: 90px;
	height: 90px;
}

.ladoA{
	transform: scaleX(1.0);  /*mantem a posicao original do elemento*/
}

.ladoB{
	transform: scaleX(-1.0);
}