/**********************
 * LAYOUTS*************/

body{
	font-family: "trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#conteiner{
	width: 720px;
	margin: 0 auto;		/*auto para centralizar nas laterais*/
	background: #fff;
}

#marca{
	height: 100px;
	background: #9e9e9e;
	text-align: center;
	line-height: 100px;
}

#conteudo{
	width: 520px;
	float: right;
}

#conteudo-principal{
	width: 320px;
	float: left;
}

#conteudo-secundario{
	width: 180px;
	float: right;
	background: #d1d1d1;
}

#navegacao{
	width: 180px;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #d1d1d1;
}

#navegacao ul{
	padding: 0;
	margin: 0;

	text-indent: 15px;
	list-style: none;
}

#navegacao li a{
	text-decoration: none;
}

#rodape{
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}


/********************************
* OUTRAS FORMATAÇÕES************/


#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 15px;
}
